<div class="book">

	<p id="notice"><%= notice %></p>

	<p><%= image_tag(@product.image,:width=>"25%") %></p>

	<h2><%= @product.name %></h2>
	
	<p><b>Author: <%= @product.author %></b></p>
	
	<p><b>Category: </b><%= @product.category.name %>      <b>Price: $</b><%= @product.price %></p>
	
	<p><%= @product.description %><br/><br/></p>
	
	

</div>