<!DOCTYPE html>
<html>
	<head>
		<title>Classical Legends</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
	
		<div id="wrapper">		
			<header>
				<img src="/assets/topleft.png" alt="Ionic Column" class="columnleft" />
				<img src="/assets/topright.png" alt="Ionic Column" class="columnright" />	
				<img src="/assets/banner.jpg" alt="banner" class="banner" />	
			</header>

			<nav>
				<ul>	
					<li><img src="/assets/menuBorder.png" alt="menu border" /></li>
					<li><%= link_to 'HOME', home_path %></li>
					<li><img src="/assets/menuBorder.png" alt="menu border" /></li>
					<li><%= link_to 'ABOUT', products_path %></li>
					<li><img src="/assets/menuBorder.png" alt="menu border" /></li>
					<li><%= link_to 'PRODUCTS', products_path %></li>
					<li><img src="/assets/menuBorder.png" alt="menu border" /></li>
					<li><%= link_to 'CONTACT', products_path %></li>
					<li><img src="/assets/menuBorder.png" alt="menu border" /></li>
					<li><%= link_to 'ADMIN', '/admin' %></li>
					<li><img src="/assets/menuBorder.png" alt="menu border" /></li>
				</ul>
			</nav>
			
			<div class="posts" >
				<%= render './posts/posts' %>
			</div>
			
			<div id="content">
				<%= yield %>
			</div>	
			
			<footer>
				<img src="/assets/bottomleft.png" alt="Ionic Column" class="columnleft" />
				<img src="/assets/bottomright.png" alt="Ionic Column" class="columnright" /> 
			</footer>	
		</div>
	</body>
</html>
